@charset "utf-8"
/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */

// primary colors
$balboa: hsl(196, 63%, 27%);

/* coolors.co/193a44-ffffff-1c5d99-639fab-bbcde5 */
// $white: hsl(0%, 0%, 100%);
$lapis-lazuli: hsl(209%, 69%, 35%);
$cadet-blue: hsl(190%, 30%, 53%);
$pale-aqua: hsl(214%, 45%, 82%);

/* coolors.co/193a44-dcedff-94b0da-8f91a2-505a5b */
//$azurish-white: hsl(211%, 100%, 93%);
//$light-cobalt-blue: hsl(216%, 49%, 72%);
//$gray-blue: hsl(234%, 9%, 60%);
//$feldgrau: hsl(185%, 6%, 34%);

// derived colors
$primary: $balboa;
$info: $lapis-lazuli;
$link: $lapis-lazuli;
$success: $cadet-blue;
//$warning:
//$danger:
$light: $pale-aqua;
//$dark:

@import "_sass/utilities/_all";
@import "_sass/base/_all";
@import "_sass/elements/_all";
@import "_sass/components/_all";
@import "_sass/grid/_all";
@import "_sass/layout/_all";
//@import "animate.css";
