<div class="container">
    <div class="content has-text-centered">
        <p>
        Site last updated {{ "now" | date: "%A, %b %e, %Y" }}
        </p>
        <p>
        See a problem? 
        <a href=" mailto:atc@53hor.net?subject=Found%20your%20website!">
            Tell me so I can fix it
        </a>
        or
        <a href="https://gitlab.com/53hornet/cobalt-site">
            fix it yourself!
        </a>
        </p>
        <p>
        Built using 
        <a href="https://cobalt-org.github.io/">
            Cobalt.rs
        </a>
        , 
        <a href="https://bulma.io">
            Bulma.io
        </a>
        ,
        <a href="https://daneden.github.io/animate.css/">
            Animate.css
        </a>
        , and self-hosted with 
        <a href="https://nginx.org/">
            NGINX
        </a>
        </p>
    </div>
</div>
