<svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <title>
        STMUAC YouTube Channel
    </title>

    <path fill="#ffffff" d="M18,14.5V11A1,1 0 0,0 17,10H16C18.24,8.39
                        18.76,5.27 17.15,3C15.54,0.78 12.42,0.26 10.17,1.87C9.5,2.35
                        8.96,3 8.6,3.73C6.25,2.28 3.17,3 1.72,5.37C0.28,7.72 1,10.8
                        3.36,12.25C3.57,12.37 3.78,12.5 4,12.58V21A1,1 0 0,0
                        5,22H17A1,1 0 0,0 18,21V17.5L22,21.5V10.5L18,14.5M13,4A2,2 0
                        0,1 15,6A2,2 0 0,1 13,8A2,2 0 0,1 11,6A2,2 0 0,1 13,4M6,6A2,2 0
                        0,1 8,8A2,2 0 0,1 6,10A2,2 0 0,1 4,8A2,2 0 0,1 6,6Z" />

</svg>
