<!-- begin navbar -->
<div class="container">
    <nav class="navbar is-primary">
        <!-- begin brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/public/images/logo.png">
            </a>
            <a class="navbar-item"
               href="/rss.xml"
               target="_blank"
               >
               <span class="icon">
                   {% include mdi-rss-box.html %}
               </span>
            </a>

            <a class="navbar-item"
               href="https://gitlab.com/53hornet"
               target="_blank"
               >
               <span class="icon">
                   {% include mdi-gitlab.html %}
               </span>
            </a>

            <a class="navbar-item"
               href="https://youtube.com/user/my53hornet"
               target="_blank"
               >
               <span class="icon">
                   {% include mdi-youtube.html %}
               </span>
            </a>

            <a class="navbar-item"
               href="https://www.youtube.com/user/STMUAC"
               target="_blank"
               >
               <span class="icon">
                   {% include mdi-video-vintage.html %}
               </span>
            </a>

            <a class="navbar-item"
               href="https://www.linkedin.com/in/adam-carpenter/"
               target="_blank"
               >
               <span class="icon">
                   {% include mdi-linkedin.html %}
               </span>
            </a>

        </div>
        <!-- end brand -->

        <!-- begin menu -->
        <div class="navbar-menu is-active">

            <!-- begin start -->
            <div class="navbar-start">
            </div>
            <!-- end start -->

            <!-- begin end -->
            <div class="navbar-end">
                <!--<a class="navbar-item"
                   href-"/53hornet"
                   >
                   53hornet Project
                </a>

                <a class="navbar-item"
                   href="/driver"
                   >
                   Driver
                   </a>-->

                <a class="navbar-item"
                   href="/journal"
                   >
                   Journal
                </a>
            </div>
            <!-- end end -->

        </div>
        <!-- end menu -->

    </nav>
</div>
<!-- end navbar -->

