<aside class="menu">
    <p class="menu-label has-text-centered">
    Similar Posts 
    </p>

    <ul class="menu-list">
        {% for post in collections.posts.pages %}
            {% 
            if post.categories
            and page.categories
            and page.title != post.title
            and page.categories.first
            and post.categories contains page.categories.first 
            %}
            {% include post-link.liquid %}
        {% endif %}
    {% endfor %}
    </ul>
</aside>
