<div class="columns is-centered is-multiline">
    <p class="menu-label has-text-centered">
    Recent Posts
    </p>

    <!-- Basically limit length of posts array to the max number of recent
    posts to include. To start with all posts are shown since it isn't really a
    performance concern. -->
    {% assign posts = collections.posts.pages %}
    {% for post in posts %}
        <div class="column is-full">
            {% include post-card.liquid %}
        </div>
    {% endfor %}
</div>
