<aside class="menu">
    <p class="menu-label has-text-centered">
    All Posts 
    </p>

    <ul class="menu-list">
        {% assign posts = collections.posts.pages %}
        {% for post in posts %}
            {% include post-link.liquid %}
        {% endfor %}
    </ul>
</aside>
