<div class="card">
    <header class="card-header">
        <p class="card-header-title">
        {% if post.published_date %}
            {{ post.published_date | date: "%A, %b %e, %Y" }}
        {% endif %}
        </p>
    </header>
    <div class="card-content">
        <p class="subtitle">
        {{ post.title }}
        </p>
        <div class="content">
            {{ post.content | truncatewords: 50 }}
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item"
           href="{{ post.permalink }}"
           >
           Read more...
        </a>
            <a class="card-footer-item"
               href="{{ post.permalink }}"
               target="_blank"
               >
               Open in new tab...
            </a>
    </footer>
</div>
