<li>
    <a href="/{{ post.permalink }}">
        {% if post.published_date %}
            <span class="tag">
                {{ post.published_date | date: "%e %b %Y" }}
            </span>
        {% endif %}

        {{ post.title }}
    </a>
</li>
