<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
        <link rel="stylesheet" href="/public/css/animate.css">
    </head>

    <body>
        <!-- begin hero -->
        <section class="hero
                            is-primary
                            is-fullheight
                            is-fullheight-with-navbar
                            ">
            <!-- begin hero head -->
            <div class="hero-head">
                {% include "nav.liquid" %}
            </div>
            <!-- end hero head -->

            <!-- begin hero body -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-two-fifths">

                            <!-- begin content -->
                            <div class="column">
                                <p class="subtitle is-3">
                                Greetings, my name is
                                </p>
                                <p class="title is-1">
                                Adam Carpenter
                                </p>

                                <div class="content">
                                    <p>
                                    and I am a...
                                    <ul>
                                        <li>
                                            Computer programmer at ADP
                                        </li>
                                        <li>
                                            Amateur Hudson driver, mechanic, and caretaker
                                        </li>
                                        <li>
                                            Loving fiancé and puppy parent
                                        </li>
                                    </ul>
                                    </p>
                                </div>

                                <p>
                                and this is my website.
                                </p>

                                <p class="has-text-centered animated jello delay-1s">
                                ↓ Keep reading below ↓ 
                                </p>
                            </div>
                            <!-- end content -->

                        </div>
                        <div class="column">
                            <div class="box animated fadeIn">
                                <figure class="image">
                                    <img src="https://nextcloud.53hor.net/s/JybL4rc3AQZb3Hk/preview">
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end hero body -->

        </section>
        <!-- end hero -->

        <!-- begin latest post -->
        <section class="section">
            <div class="container">
                <p class="title">
                    Latest Post 
                </p>
                <p class="subtitle">
                <a href="/journal">
                    See the whole journal here.
                </a>
                </p>

                {% assign post = collections.posts.pages.first %}
                {% include post-card.liquid %}
            </div>
        </section>
        <!-- end latest post -->

        <!-- begin main content -->
        <section class="section">
            <div class="container">
                <div class="content">
                    {{ page.content }}
                </div>
            </div>
        </section>
        <!-- end main content -->

        <footer class="footer">
            {% include "footer.liquid" %}
        </footer>
    </body>

</html>
