<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>

    <body>
        <!-- begin hero -->
        <section class="
                        hero
                        is-primary
                        ">
            <!-- begin hero head -->
            <div class="hero-head">
                {% include "nav.liquid" %}
            </div>
            <!-- end hero head -->

            <!-- begin hero body -->
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Journal
                    </h1>
                    <h2 class="subtitle">
                        Is it a blog? Probably.
                    </h2>
                </div>
            </div>
            <!-- end hero body -->

        </section>
        <!-- end hero -->

        <!-- begin blog posts -->
        <section class="section">
            <div class="container">
                <div class="columns">

                    <!-- begin short post list -->
                    <div class="column">
                        {% include posts-recent.liquid %}
                    </div>
                    <!-- end short post list -->

                    <!-- begin long post list -->
                    <div class="column is-narrow">
                        {% include posts-all.liquid %}
                    </div>
                    <!-- end long post list -->

                </div>
            </div>
        </section>
        <!-- end blog posts -->

        <footer class="footer">
            {% include "footer.liquid" %}
        </footer>
    </body>

</html>
