<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>

    <body>
        <!-- begin hero -->
        <section class="hero is-primary">
            <!-- begin hero head -->
            <div class="hero-head">
                {% include "nav.liquid" %}
            </div>
            <!-- end hero head -->

            <!-- begin hero body -->
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            <!-- end hero body -->

        </section>
        <!-- end hero -->

        <!-- begin main content -->
        <section class="section">
            <div class="container">
                <div class="columns">

                    <div class="column">
                        <div class="content">
                            {{ page.content }}
                        </div>
                    </div>

                    <div class="column is-narrow">
                        <aside>
                            {% include "toc.liquid" %}
                        </aside>
                    </div>

                </div>
            </div>
        </section>
        <!-- end main content -->

        <footer class="footer">
            {% include "footer.liquid" %}
        </footer>
    </body>

</html>
