<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>

    <body>
        <!-- begin hero -->
        <section class="hero is-primary">
            <!-- begin hero head -->
            <div class="hero-head">
                {% include "nav.liquid" %}
            </div>
            <!-- end hero head -->

            <!-- begin hero body -->
            <div class="hero-body">
                <div class="container">
                    <!-- begin title and date -->
                    <h1 class="title">
                        {{ page.title }}
                    </h1>

                    <h2 class="subtitle">
                        {% if page.published_date %}
                            {{ page.published_date | date: "%A, %b %e, %Y" }}
                        {% else %}
                            Unpublished!
                        {% endif %}
                    </h2>
                    <!-- end title and date -->

                    <!-- begin categories and tags -->
                    <p>
                    {% if page.categories %}
                        Categories: 
                        {% for category in page.categories %}
                            <span class="tag is-rounded">
                                {{ category | downcase }}
                            </span>
                        {% endfor %}
                    {% endif %}

                    {% if page.tags %}
                        Tags: 
                        {% for tag in page.tags %}
                            <span class="tag is-rounded">
                                #{{ tag | downcase }}
                            </span>
                        {% endfor %}
                    {% endif %}
                    </p>
                    <!-- end categories and tags -->

                </div>
            </div>
            <!-- end hero body -->

        </section>
        <!-- end hero -->

        <!-- begin main content -->
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="content">
                            {{ page.content }}
                        </div>
                    </div>

                    <div class="column is-narrow">
                        {% include posts-similar.liquid %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end main content -->

        <footer class="footer">
            {% include "footer.liquid" %}
        </footer>
    </body>

</html>
